.custom-select select{
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  line-height: 1;
  margin: 8px 0;
  padding: 12px 20px;
  background-color: white;
  -webkit-appearance: none;
  outline: none;
}
